@media (max-width: 425px) {
  .dock { width: calc(100% - 10px); margin: auto; top: 5px; left: 0; right: 0; height: 40px; border-radius: 10px; }    
  .footer {left: 0;width: 100%;}
  .social-signup .signup {width: 100%;height: 36px;margin: 0 0 10px;}
  .splash-login-wrap > div, .splash-login-wrap > form {max-width: calc(100% - 20px);}
  .oauth-wrap > form {max-width: calc(100% - 40px);}
  .register-account .register-form, .register-account .get-started {display: block;width: calc(100% - 20px);margin: 10px;}
  .block:not([data-style='explore']) .tags > .tag { font-size: 18px;line-height: 24px;margin: 5px 5px 0 5px; }
  .ads .description { font-size: 18px; line-height: 22px;max-height: 66px; }
  [data-style='OneColumn'] .article .title {font-size: 28px;line-height: 36px;height: auto;max-height: 72px;}

  body.chat > .wrapper {transform-origin: right;left: initial;width: 100%;filter: blur(10px);-webkit-filter: blur(10px);}
  body > .dm {width: 100%;right: -100%;}

  .footer:before {content: '';position: absolute;top: 0;left: 0;right: 0;z-index: 12;pointer-events: none;width: 100%;height: 100px;transition: 1s opacity;background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(255,255,255,1) calc(100%/2));} 
  .footer .stores-button:after {content: 'Shop';position: absolute;left: 0;right: 0;bottom: -22px;font-family: Lato Light;font-weight: bolder;font-family: Lato Light;font-size: 13px;color: #ff3b30;}
  .footer .dm-button:after {content: 'Chat';position: absolute;left: 0;right: 0;bottom: -26px;font-family: Lato Light;font-weight: bolder;font-family: Lato Light;font-size: 13px;color: black;}
  .footer .activity-button:after {content: 'Feed';position: absolute;left: 0;right: 0;bottom: -15px;margin: auto;width: 48px;font-family: Lato Light;font-weight: bolder;font-family: Lato Regular;font-size: 13px;color: white;/* text-shadow: -1px 2px black; */}
  .footer .cart-button:after {content: 'Cart';position: absolute;left: 0;right: 0;bottom: -26px;font-family: Lato Light;font-weight: bolder;font-family: Lato Light;font-size: 13px;color: black;}
  .footer .create-button:after {content: 'Post';position: absolute;left: 0;right: 0;bottom: -22px;font-family: Lato Light;font-weight: bolder;font-family: Lato Light;font-size: 13px;color: white;}

  .footer {height: 86px;bottom: 0;margin: auto;z-index: 12345;position: fixed;white-space: nowrap;text-align: center;transition: 1s all;display: flex;justify-content: space-evenly;}
  .footer.hidden {height: 0;overflow: hidden;}
  .footer > div, .footer ~ .button {z-index: 20;width: 20%;height: auto;transition: 0.3s all;margin: 0;background-repeat: no-repeat;color: #0092d0;}
  .footer ~ .button {filter: invert();z-index: 12345678901 !important;}
  .footer + .button {left: 5px;bottom: 5px !important;}
  .footer + .button + .button {right: 5px;bottom: 5px !important;}
  .footer .dm-button {background-position:center; display: block;}

  .footer > div.activity-button {top: -20px;top: 0px;}
  .footer > div.activity-button:before {background-size: 80px;background-position: center top;}
  .footer .activity-button[data-cnt] {background-image: url(/assets/pulse.gif);}
  .footer .activity-button[data-cnt]:before {content: attr(data-cnt);display: block;position: absolute;top: -10px;right: -1;width: 20px;height: 20px;line-height: 20px;background: #F33535;border-radius: 50%;font-family: Lato Light;font-weight: bolder;font-size: 11px;color: white;text-align: center;}
  .footer .activity-button svg { width: 100%; height: 100%; } 
  .footer > div.on svg path, body[data-div='zns'] .footer .stores-button svg path, body[data-div='myp'] .footer .activity-button svg path {/* fill: #ff3b30 !important; */}
  .footer .home-button {width: 15px;height: 15px;bottom: 15px;left: 0px;right: 0px;}
  .footer .stores-button {background-position:center;background-size: contain;/* width: 36px; */}
  .footer #cart-button {/* width: 36px; *//* height: 30px; *//* top: -5px; *//* top: 16px; *//* display: block; */}
  .footer #stores-button, .footer #create-button {/* top: 20; */}
    
  [data-style='QuadFull'] .format {width: calc((100% - 5px)/2);/* margin: 0 0px 0 0; */} 
  [data-style='QuadFull'] .format:nth-child(2n) {width: calc((100% - 5px)/2);/* margin: 0 0 5px; */}
  [data-style='QuadFull'] .format: nth-child(2n) {margin: 5px 5px 0 0;} 
  [data-style='QuadFull'] .format:last-child {margin: 0 0 5px;} 
  [data-style='ThreeColumn'] .avatar.format[data-name]:after {font-size: 10px;}

  [data-style='TriFull'] .format {width: calc((100% - 10px)/3);margin: 0 5px 5px 0;}
  [data-style='TriFull'] .format:nth-child(3n) {margin: 0 0 5px 0;/* width: calc((100% - 10px)/3); */}
  [data-style='TriFull'] .format:last-child {margin: 0 0 5px 0;}

  [data-style='FourFull'] .format {width: calc((100% - 25px)/4);margin: 0px 0 10px 10px;margin: 0 5px 5px 0;}
  [data-style='FourFull'] .format:nth-child(4n) {margin: 0px 0px 5px 0px;width: calc((100% - 25px)/4);/* width: calc((100% - 15px)/4); */ */ma;}
  [data-style='FourFull'] .format:last-child {margin: 0 10px 10px 10px;margin: 0 0 5px 0;}
  [data-style='FourFull'] .format .stats { display: none; }
  [data-style='FourFull'] .format .item-Title { display: none; }
  [data-style='FourFull'] .format .item-Pricing { display: none; }

  [data-style='ThreeColumn'] .avatar.format {width: calc((100% - 40px)/3);margin: 10px 0 0 10px;}
  [data-style='ThreeColumn'] .avatar.format:last-child {margin: 10px;}

  [data-style='ThreeColumn'] .stores.format {margin: 0 0 20px 5px;width: calc((100% - 20px)/3);}
  [data-style='ThreeColumn'] .stores.format:nth-child(3n) {margin: 0px 5px 20px 5px;}

  [data-style='ThreeColumn'] .item .item-Title {max-height: 108px;-webkit-line-clamp: 3;font-size: 13px;line-height: 18px;height: 54px;position: relative;bottom: 0;display: none;}
  [data-style='ThreeColumn'] .format {vertical-align: top;display: inline-block;height: auto;padding-top: 1px;margin: 0px 0 2px 2px;}
  [data-style='ThreeColumn'] .format:nth-child(3) {margin: 10 10 10 0;}
  [data-style='ThreeColumn'] .format:nth-child(3n) {margin: 0 0 5px 0;border-right: none;}
  [data-style='ThreeColumn'] .format:last-child {margin: 0;}
  [data-style='ThreeColumn'] .item .title { margin: auto; border-radius: 5px; width: calc(100% - 10px); color: #777; background: white; overflow: hidden; text-overflow: ellipsis; font-family: Lato Hairline; font-weight: bolder; font-size: 13px; line-height:18px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; display: block; display: -webkit-box; }
  [data-style='ThreeColumn'] .format, [data-style='ThreeColumn'] .media:after {width: calc(((100% - 10px)/3));margin: 0 5px 5px 0;/* border: 1px solid #bbb; */border-bottom: none;border-left: none;}
  [data-style='ThreeColumn'] .format .itm {width: calc(100% - 0px);/* border-radius: 15%; */p;padding-top: calc(100% - 0px);/* border: 1px solid #ddd; */height: auto;top: 0;position: relative;background-color: white;/* border: 1px dotted #888; */}
  [data-style='ThreeColumn'] .price > .tag div:first-child  { font-size: 11px; }

  .format .item-Title {font-size: 13px;line-height: 18px;font-size: 11px;font-family: Lato Light;line-height: 12px;}
  .block[data-style='ListFormat'] .item .item-Title {font-size: 13px;line-height: 20px;max-height: 80px;}
  [data-style='TopList'] .format.item .itm, [data-style='ListFormat'] .format.item .itm {width: calc((100% - 10px)/2);padding-top: calc((100% - 10px)/2);height: 0;margin: 0 10px 0 0;vertical-align: top;}
  [data-style='ListFormat'] .format.item .itm + div {/* flex: 1; */margin: 0;width: calc((100% - 10px)/2);display: inline-block;}
  [data-style='ListFormat'] .format.item:after {font-size: 22px;width: 50px;height: 50px;line-height: 50px;}
  [data-style='TriFull'] .item .item-Title {height: 32px;font-size: 11px;line-height: 16px;}

  [data-style='DoubleFull'] .format {width: calc((100% - 30px)/2);margin: 10px 0 0 10px;box-shadow: 0 0 10px -4px;border-radius: 10px;overflow: hidden;}
  [data-style='DoubleFull'] .format:nth-child(2n) {width: calc((100% - 30px)/2);margin: 10px 10px 0 10px;}
  [data-style='Slides'] .media > .format {height: calc(56.25vw - 20px);}

  [data-style='SingleRow1'] div.format {width: calc((100% - 10px)/1.5);}
  [data-style='SingleRow1'] div.format:last-child {margin: 5px;}
  [data-style='SingleRow1'] div.format:first-child {margin: 5px 0 0 5px;}
  [data-style='SingleRow1'] div.format.article {width: calc((100% - 10px)/1.5);}
  [data-style='SingleRow1'] div.format.article:first-child {margin: 5px 5px 5px 5px;}
  [data-style='SingleRow1'] div.format.article:last-child {margin: 5px 5px 5px 0;}

  [data-style='explore'] .tags > .tag {font-size: 13px;line-height: 24px;padding-top: calc(100% - 24px);}
}