@media (max-width: 540px) {
    [data-style='embed'][data-type='youtube'] .media > .format {width: 100% !important;padding-top: 0;height: auto;}
    [data-style='embed'][data-type='youtube'] .media > .format:first-child {padding-top: 56.25%;}
    [data-style='embed'][data-type='youtube'] .media > .format > .absolute {position: relative !important;height: auto !important;}
    .splash {display: block;max-width: 320px;width: calc(100% - 20px);}
    #splash-1 > .relative {max-width: calc(100% - 20px);padding: 0 !important;background-color: rgba(255,255,255,0.88) !important;border-radius: 10px;}
    #splash-1 > .relative > div {max-width: calc(100% - 20px);padding: 10 !important;margin: 0;display: block;}
    .brands .wrap-brands > .brand {width: calc((100% - 20px)/3);padding-top: calc((100% - 20px)/3);margin: 0 0 5px 5px;}
    .social-signup {margin: 0 10px;display: none;}
    .social-signup > div {display: block;width: 100%;padding: 10px 0 36px;font-size: 13px;}
    .social-signup .signup {width: 120px;height: 120px;margin: 0 10px 0 0;px; */height: 120px;}
    .social-signup .signup:last-child { margin: 0; }
    .social-signup .signin:before, .social-signup .signup:before {background-size: contain;width: 36px;height: 36px;}
    form.register-account [placeholder='Username'], form.register-account [placeholder='Password'], form.register-account [placeholder='Email'] {width: calc(100% - 0px) !important;margin: 0 auto 0px;}
    .social-signup, form.register-account {width: calc(100% - 20px);}
}